parameters:
	level: max
	paths:
		- ../../etc
		- ../../src
	ergebnis:
		noExtends:
			classesAllowedToBeExtended:
			- Mammatus\LifeCycleEvents\Promise\AbstractPromise
			- Mammatus\Tests\LifeCycleEvents\Promise\AbstractPromiseTest
